/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

body {font:13px/1.231 sans-serif;*font-size:small} 
pre, code, kbd, samp {font-family:monospace, sans-serif}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px}
table {border-collapse:collapse;border-spacing:0}
td {vertical-align:top}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
textarea {overflow:auto}
input, select {vertical-align:middle}
select, input, textarea, button {font:99% sans-serif}

body, select, input, textarea {color:#444}
h1, h2, h3, h4, h5, h6 {font-weight:bold}
a, a:active, a:visited {color:#111;text-decoration:none}
a:hover {color:#FFA800}
em, i {font-style:italic}
blockquote, q {quotes:none}
ins {background-color:#ff9;color:#000;text-decoration:none}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration:line-through}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help}
a:hover, a:active {outline:none}
ul, ol {margin-left:2em}
ol {list-style-type:decimal}
nav ul, nav li {margin:0;list-style:none;list-style-image:none}
small {font-size:85%}
strong, th {font-weight:bold}
sub, sup {font-size:75%;line-height:0;position:relative}
sup {top:-0.5em}
sub {bottom:-0.25em}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
::selection {background:#FF5E99;color:#fff;text-shadow:none}
a:link {-webkit-tap-highlight-color:#FF5E99}

/* hi! Rizh blog */
body {font-size:100%;font-family:"Georgia",Times,serif;background:#ddd;position:relative}

#header {position:fixed;width:100%;background:rgba(0,0,0,0.7)}
#header div {width:630px;margin:0 auto;overflow:hidden}
#header h1 a, #header h2 a {position:absolute;padding:20px 0 4px;display:block;text-align:center;color:#fff;background:#000;width:100px;font-family:Courier New;font-size:29px;-moz-transition: all 0.2s ease}
#header h1 a:after, #header h2 a:after {content:"";display:block;position:absolute;top:60px;width:0;height:0;border-top:20px solid #000;border-bottom:20px solid transparent; border-left:50px solid #000;border-right:50px solid transparent;-moz-transition: all 0.2s ease}
#header h1 a:hover, #header h2 a:hover {padding-top:50px;color:#FFA800}
#header h1 a:hover:after, #header h2 a:hover:after {top:89px}
#header nav {margin:0 0 0 120px}
#header nav li a {display:block;padding:20px;float:left;color:#ccc}
#header nav li a:before {content:"{"}
#header nav li a:after {content:"}"}
#header nav li a:hover {background:#000}

#wrapper {width:40%;max-width:800px;margin:0 auto;padding:80px 40px;overflow:hidden;background:#fff;border-left:4px solid #eee;border-right:4px solid #eee}
#archive {list-style-type:none;margin:0;padding:0;overflow:hiden;}
#archive li {clear:both;line-height:2.4em;}

#archive time {float:left;width:30%;color:#aaa;border-bottom:1px dotted #ddd;}
#archive li a {float:left;width:70%;border-bottom:1px dotted #ddd}
#archive li a:hover {border-bottom:1px dotted #aaa}

footer {position:fixed;width:100%;bottom:0;background:rgba(0,0,0,0.5);color:#ccc;opacity:0.4;-moz-transition: all 0.5s ease}
footer div {width:630px;margin:0 auto;padding:10px 0;overflow:hidden;text-align:right}
footer:hover {opacity:1}
#octocat {position:absolute;background:url(../img/octocat.png) no-repeat;width:200px;height:200px;top:-10px;right:0;opacity:0.3;text-indent:-9999px;-moz-transition: all 0.6s ease}
#octocat:hover {top:30px;opacity:0.5}


#post #wrapper {width:520px}
#post #header div {width:750px}
#post footer  {position:absolute}
article h1 {font-size:24px}
article h3 {font-size:20px;color:#ff5e99}
.date {font-style:italic}
article p {line-height:1.5em;margin:10px 0 20px}
article ul {line-height:1.5em;margin:0 0 20px}
article ol {margin:0}
article ol li p:nth-child(2) {margin-top:5px}
#dsq-global-toolbar, #dsq-footer, #dsq-sort-by {display:none;visibility:hidden}

@media screen and (max-device-width:480px){
#header {position:absolute}
#header h1 a, #header h2 a {-moz-transition:none}
#header h1 a:hover, #header h2 a:hover {padding-top:20px}
#header h1 a:after, #header h2 a:after {display:none;-moz-transition:none}
footer, #octocat {display:none}
}
