#wrapper {width:780px;margin:10px auto}
#moveon {overflow:hidden;position:relative}
#forward {font-size:10em;font-family:Oswald, sans-serif;color:#DF7366;text-transform:uppercase}

.char1, .char3, .char5, .char7 {position:relative;z-index:2}

.line {content:'';position:absolute;z-index:1;width:100%;height:20px;background:#083346;border:none}
.line:after {content:'';width: 0;right:-30px;
        height: 0;position:absolute;
        border-top: 30px solid transparent;
        border-left: 30px solid #083346;
        border-bottom: 30px solid transparent;
}
.line:first-child {margin-top:80px}
.line:first-child:after {top:-20px}
.line:last-child {margin-top:-180px}
.line:last-child:after {top:-20px}
