/*
 * Rizqy Hidayat
 * http://hirizh.name/
 * 
 * hi! Rizh: Playground adalah pajangan blogazine saya, menggunakan web statis dan Github.
 * http://playground.hirizh.name/
 * 
 * Judul: Jangan Terlalu Rajin
 */
 
body {background:#F2EDA0;color:#44444f}
a {color:#248C72}
a:visited {border-bottom:none}
#wrapper {width:70%;margin:0 auto;max-width:1200px;overflow:hidden}

header {text-align:center;overflow:hidden;margin:10px 0 50px}
h1 a {font-size:30px;font-variant:small-caps}
nav {width:43%;margin:20px auto}
nav a {float:left;padding:3px 0;margin:0 10px;border-top:1px solid #F2EDA0;border-bottom:1px solid #F2EDA0}
nav a:hover {border-top:1px solid #44444f;border-bottom:1px solid #44444f;color:#44444f}

#terlalu {width:100%;text-align:center;color:#DE6B66;font-family:Impact,sans-serif;text-transform:uppercase;text-shadow:1px 0 0 #44444f,-1px 0 0 #44444f,0 1px 0 #44444f,0 -1px 0 #44444f}

.desc {margin:50px 0 30px;text-align:justify}
.note {font-style:italic}
