/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

pre, code, kbd, samp {font-family:monospace, sans-serif}
pre {padding:15px}
table {border-collapse:collapse;border-spacing:0}
td {vertical-align:top}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
textarea {overflow:auto}
input, select {vertical-align:middle}
select, input, textarea, button {font:99% sans-serif}

body, select, input, textarea {color:#444}
h1, h2, h3, h4, h5, h6 {font-weight:bold}
em, i {font-style:italic}
blockquote, q {quotes:none}
ins {background-color:#ff9;color:#000;text-decoration:none}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del {text-decoration:line-through}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help}
a:hover, a:active {outline:none}
ul, ol {margin-left:2em}
ol {list-style-type:decimal}
nav ul, nav li {margin:0;list-style:none;list-style-image:none}
small {font-size:85%}
strong, th {font-weight:bold}
sub, sup {font-size:75%;line-height:0;position:relative}
sup {top:-0.5em}
sub {bottom:-0.25em}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
::selection {background:#FF5E99;color:#fff;text-shadow:none}
a, a:active {color:#8dc63f;text-decoration:none}
a:hover {color:#f47e36}
a:visited {border-bottom:2px solid #97679F}


/* hi! Rizh blog v.2 */
body{font-family:Helvetica, Helvetica Neue, Arial, sans-serif;font-size:100%;background:url(../img/bg.png) repeat}

#side {width:45%;padding:2.5%;float:left}
#side section {margin:40px 0}
#title a {display: inline-block;font-family:Rokkitt, sans-serif;color:#97679F}
#side h2 {color:#97679F;font-size:1.5em}
#aboutme li a {font-size:1.5em}
#footer {padding:10px 0 0;border-top:2px solid #97679F;text-align:center}
#post-list {width:45%;padding:2.5%;float:right;overflow:hidden}
#post-list ol {margin:0;padding:0;list-style-type:none}
#post-list a {line-height:2.5em;font-size:1.125em;font-variant:small-caps}
#post-list a:hover {border-bottom:1px dotted #f47e36}
#post-list time {margin-left:10px;float:right;color:#bbb;font-family:Georgia, serif;font-style:italic;font-size:1em}
#post-list time:before {content:"✍ "}
#post-list li:hover time {color:#666}


/* About page */
#about {width:80%;margin:0 auto;padding:40px 0}
#about header, #about section {overflow:hidden;margin:20px 0}
#about .title {width:15%;padding-right:1%;float:left;overflow:hidden;text-align:right;text-transform:uppercase;font-size:14px;color:#aaa;border-right:2px solid #ccc}
#about .content {width:80%;float:right}
#about .content p {margin:20px 0 0}
#about .content p:first-child {margin-top:0}
#about h1 {font-size:24px}
#about #nav {overflow:hidden}
#about #nav li a {float:left;margin:0 3px;padding:5px 10px;background:#8dc63f;color:#fff;-moz-border-radius:5px}
#about #nav li a:hover {background:#F47E36}
#about #colophon {margin:0;padding:0;list-style-type:none}

/* Post page */
#post article {width:70%;margin:2% auto;position:relative}
#post header {width:90%;margin-bottom:40px;position:relative}
#post h1 {float:left;width:60%;font-size:200%;margin:30px 0 0 50px;font-weight:normal;color:#60BFF3}
article a:hover {color:#f47e36;border-bottom:1px dotted #8dc63f}
article ol, article ul {margin:1em 0 1.5em 0;line-height:1.5em}
article ol ul {margin:1em 0 1.5em 2em}
article li {margin:1em 0}
article p {margin:1em 0 0.5em;line-height:1.5em}
article h3 {font-size:1.5em;margin:1em 0 0 -20px;padding-left:10px;border-left:10px solid #60BFF3}
article code {padding:2px 5px;border:1px dashed #aaa}
article pre code {padding:0;border:none;overflow-x:auto;width:100%;}
.highlight  { background: #4E5052; background: rgba(0,0,0,.50); overflow-x:auto;margin-bottom: 10px;}
.hll { background-color: #ffffcc }
.c { color: #586E75 } /* Comment */
.err { color: #93A1A1 } /* Error */
.g { color: #93A1A1 } /* Generic */
.k { color: #859900 } /* Keyword */
.l { color: #93A1A1 } /* Literal */
.n { color: #93A1A1 } /* Name */
.o { color: #859900 } /* Operator */
.x { color: #CB4B16 } /* Other */
.p { color: #93A1A1 } /* Punctuation */
.cm { color: #586E75 } /* Comment.Multiline */
.cp { color: #859900 } /* Comment.Preproc */
.c1 { color: #586E75 } /* Comment.Single */
.cs { color: #859900 } /* Comment.Special */
.gd { color: #2AA198 } /* Generic.Deleted */
.ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.gr { color: #DC322F } /* Generic.Error */
.gh { color: #CB4B16 } /* Generic.Heading */
.gi { color: #859900 } /* Generic.Inserted */
.go { color: #93A1A1 } /* Generic.Output */
.gp { color: #93A1A1 } /* Generic.Prompt */
.gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.gu { color: #CB4B16 } /* Generic.Subheading */
.gt { color: #93A1A1 } /* Generic.Traceback */
.kc { color: #CB4B16 } /* Keyword.Constant */
.kd { color: #268BD2 } /* Keyword.Declaration */
.kn { color: #859900 } /* Keyword.Namespace */
.kp { color: #859900 } /* Keyword.Pseudo */
.kr { color: #268BD2 } /* Keyword.Reserved */
.kt { color: #DC322F } /* Keyword.Type */
.ld { color: #93A1A1 } /* Literal.Date */
.m { color: #2AA198 } /* Literal.Number */
.s { color: #2AA198 } /* Literal.String */
.na { color: #93A1A1 } /* Name.Attribute */
.nb { color: #B58900 } /* Name.Builtin */
.nc { color: #268BD2 } /* Name.Class */
.no { color: #CB4B16 } /* Name.Constant */
.nd { color: #268BD2 } /* Name.Decorator */
.ni { color: #CB4B16 } /* Name.Entity */
.ne { color: #CB4B16 } /* Name.Exception */
.nf { color: #268BD2 } /* Name.Function */
.nl { color: #93A1A1 } /* Name.Label */
.nn { color: #93A1A1 } /* Name.Namespace */
.nx { color: #93A1A1 } /* Name.Other */
.py { color: #93A1A1 } /* Name.Property */
.nt { color: #268BD2 } /* Name.Tag */
.nv { color: #268BD2 } /* Name.Variable */
.ow { color: #859900 } /* Operator.Word */
.w { color: #93A1A1 } /* Text.Whitespace */
.mf { color: #2AA198 } /* Literal.Number.Float */
.mh { color: #2AA198 } /* Literal.Number.Hex */
.mi { color: #2AA198 } /* Literal.Number.Integer */
.mo { color: #2AA198 } /* Literal.Number.Oct */
.sb { color: #586E75 } /* Literal.String.Backtick */
.sc { color: #2AA198 } /* Literal.String.Char */
.sd { color: #93A1A1 } /* Literal.String.Doc */
.s2 { color: #2AA198 } /* Literal.String.Double */
.se { color: #CB4B16 } /* Literal.String.Escape */
.sh { color: #93A1A1 } /* Literal.String.Heredoc */
.si { color: #2AA198 } /* Literal.String.Interpol */
.sx { color: #2AA198 } /* Literal.String.Other */
.sr { color: #DC322F } /* Literal.String.Regex */
.s1 { color: #2AA198 } /* Literal.String.Single */
.ss { color: #2AA198 } /* Literal.String.Symbol */
.bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.vc { color: #268BD2 } /* Name.Variable.Class */
.vg { color: #268BD2 } /* Name.Variable.Global */
.vi { color: #268BD2 } /* Name.Variable.Instance */
.il { color: #2AA198 } /* Literal.Number.Integer.Long */

/* Others */
.box1, .box2, .box3, .box4, .box5 {width:20%;height:20px;display:block;float:left}
.box1 {background:#FDFA00}
.box2 {background:#8dc63f}
.box3 {background:#F47E36}
.box4 {background:#97679F}
.box5 {background:#60BFF3}
.clearfix:before, .clearfix:after {content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after {clear:both}
.amp {font-family:"Goudy Old Style",Baskerville,Georgia,serif;font-style:italic}
.followme {color:#60BFF3}
.followme:hover {color:#60BFF3;border-bottom:1px dotted #60BFF3}
.garing {color:#97679F}

@media screen and (min-width:760px){
#title a {padding:.7em;margin-left:-5%;position:relative;font-family:Rokkitt, sans-serif;font-size:2em;background:#8dc63f;color:#fff;box-shadow:2px 2px 5px #555}
#title a:before {content:'';position:absolute;top:.25em;right:.25em;bottom:.25em;left:0;border:1px rgba(0,0,0,.3) dashed;outline:1px rgba(255,255,255,.5) dashed;border-left:none}
#title a:after {content:'';width:0;position:absolute;height:0;top:0;right:-40px;border-top:42px solid transparent;border-left:40px solid #8dc63f;border-bottom:42px solid transparent}
#post #title a {margin:1% 0 0 0;width:20%;text-align:right;float:left}
#post .date {position:absolute;right:0;top:20px;font-size:24px;text-transform:uppercase;color:#fff;text-shadow:0 0 5px #97679F, 0 0 10px #97679F}
}

@media screen and (max-width:1024px){
#post-list time {float:none}
#post-list time:before {content:""}
}

@media screen and (max-width:760px) {
#side, #post-list {float:none;width:90%;display:block}
#post-list time {display:block;color:#666}
#post-list time:before {content:"Ditulis tanggal ";font-style:normal}
#post header {width:80%;margin:0 auto 40px}
#title a:hover:after {content:"//a geek boy";font-size:14px}
#post h1 {width:100%;margin:10px 0 0;float:none}
#post .date {display:block;text-shadow:none;color:#555;font-family:Georgia, serif;font-size:16px;font-style:italic;text-transform:none}
#post article {width:80%}
}
